<div class="container-fluid">
  <div *ngIf="stats">
    <h3>Analytics Data for
      <a href="{{stats.urlInfo.shortUrl}}" target="_blank" (click)="reload()">{{stats.urlInfo.shortUrl}}</a>
    </h3>
    <h5>Created {{stats.urlInfo.createdOn | date:'MMM d, y'}}</h5>
    <h5>Original URL:
      <a href="{{stats.urlInfo.originalUrl}}" target="_blank">{{stats.urlInfo.originalUrl}}
        <i class="fas fa-external-link-alt"></i>
      </a>
    </h5>
  </div>
</div>
<div class="main-div">
  <div class="card">
    <div class="clicks-chart-container">
      <div class="card-clicks">
        <div class="clicksCount">
          <h6>Total Clicks</h6>
          <h5 id="click-count">{{clickCount}}</h5>
        </div>
      </div>
      <div class="clicks-chart">
        <div *ngIf="clicksChart">
          <canvas id="canvasClicks">{{clicksChart}}</canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="other-charts-container">

      <div class="pie-chart-container">
        <div *ngIf="browsersChart">
          <canvas id="canvasBrowsers">{{broswersChart}}</canvas>
        </div>
      </div>
      <div class="bar-chart-container">
        <div *ngIf="platformsChart">
          <canvas id="canvasPlatforms" class="chart chart-bar">{{platformsChart}}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>