/* DashboardComponent's private CSS styles */
.container-fluid {
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #696969;
  color: white;
}
h1{
  font-weight: lighter;
}
.myTable{
  width: 100% auto;
  align-content: center;
  margin-top: 10px;
  table-layout: fixed;
}

.table-header{
  background-color:rgb(226, 224, 224);
  color: grey;
}
.myRow:hover{
  background-color: #cbcdcf
}

.card{
  margin-top: 10px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 5%;
  width: 90%;
  font-size: 15px;
  margin-bottom: 10%;
  padding: 1%;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
  width: 100% auto;
}
.col-orig-url{
  max-width: 25%;
  width: 64%;
}
.col-short-url{
  max-width: 20%;
  width: 20%;
}
.col-created-on{
  max-width: 10%;
  width: 10%;
}
.col-clicks{
  max-width: 12%;
  width: 6%;
}
.message-div{
  color: white;
  size: 20px;
}