<div class="header"></div>
<div class="container-fluid">
  <h1>Simplify Your Links</h1>
  <form #heroForm="ngForm">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <input #newUrl type="text" class="myForm form-control" id="url-input" placeholder="Your Original URL here" required>
        </div>
        <div class="col-md-3">
          <button type="button" (click)="addShortUrl(newUrl.value)" class="btn btn-light">Shorten URL</button>
        </div>
      </div>
    </div>
    <div class="message-div">
      <span id="message">{{message}}</span>
    </div>
  </form>
</div>
<div class="card">
  <table class="myTable table table-bordered">
    <tr class="table-header">
      <th class="col-orig-url" style="max-width: 200px;" scope="col">Original Url</th>
      <th class="col-created-on" scope="col">created</th>
      <th class="col-short-url" scope="col">Short Url</th>
      <th class="col-clicks" scope="col">All Clicks</th>
    </tr>
    <tbody>
      <tr class="myRow" *ngFor="let url of urls;">
        <td>
          <a href="{{url.originalUrl}}" target="_blank">{{url.originalUrl}}</a>
        </td>
        <td>{{url.createdOn | date:'dd/MM/yyyy'}}</td>
        <td>
          <a routerLink="/stats/{{url.id}}">{{url.shortUrl}}</a>
        </td>
        <td>{{url.totalClicksCount}}</td>
      </tr>
    </tbody>
  </table>
</div>